<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
<form class="" action="/{{page_name}}/save" method="POST">

<p>
  <textarea name="page_content" rows="8" cols="120" value=""></textarea><br>
</p>
<p>
  <label for="" name="author_name" value="">Author Name:</label><br>
  <input type="text" name="author_name" value="">
</p>
<p>
  <label for="" name="update_time">Last Updated:</label><br>
  print {{now}}
</p>
<p>
  <button type="submit" name="submit_button">Make this page!</button>
</p>

</form>

{% endblock %}
